In [87]:
import glob
import shutil
from pathlib import Path

import pandas as pd
import xml.etree.ElementTree as ET

# Labelmg to COCO format

Labelmg by default creates files in the **Pascal VOC** format. Most of the latest pipelines are
expecting the labels in COCO format.

1. Pascal VOC format -> coordinates are represented as `(left_top, right_bottom)`
2. Labelmg tool produces Pascal voc format.
3. COCO expects all the file names should be in number format
4. COCO files

In [136]:
train_dir = "/home/haridas/projects/mystique/data/train_and_test-2020-Jun-05-coco/train/"
test_dir = "/home/haridas/projects/mystique/data/train_and_test-2020-Jun-05-coco/test/"
template_test = "/home/haridas/projects/mystique/data/templates_test_data_coco/"

In [171]:
tree = ET.parse(f"{template_test}/1.xml")
root = tree.getroot()

In [186]:
# root.set
# root.find("filename").text

In [170]:
get_fn = lambda x: ".".join(x.split(".")[:-1])

def renamefn_to_intfn(data_dir, start=1000):
    """
    @param data_dir: Pascal VOC format generated by labelmg.
    """
    pp = Path(data_dir)
    for fn in glob.glob(f"{data_dir}/*.xml"):
        p = Path(fn)
        root = ET.parse(fn).getroot()
        img_fn = root.find("filename").text
        
        #print(img_fn)
        
        if not get_fn(p.name).isdigit():
            bname = ".".join(p.name.split(".")[:-1])
            #p.rename(pp / f"{start}.xml")
            
            png = Path(pp / f"{img_fn}")
            assert png.exists()
            # print(png)
            
            imgfn_split = img_fn.split(".")
            img, img_ext = ".".join(imgfn_split[:-1]), imgfn_split[-1]
            
            #print (img, img_ext)
            png.rename(pp / f"{start}.{img_ext}")
            
            start += 1
            #print(p.name, png.name)

In [169]:
renamefn_to_intfn(template_test)
# p = Path("/home/haridas/projects/mystique/data/train_and_test-2020-05-31-coco/train/99.xml")

In [66]:
# ls /home/haridas/projects/mystique/data/train_and_test-2020-05-31-coco/train/

# Label statistics

In [78]:
train_df = pd.read_csv("/home/haridas/projects/mystique/data/train_and_test-2020-Jun-05-coco/train_label.csv")

In [82]:
train_df.groupby("filename").count().describe()

,width,height,class,xmin,ymin,xmax,ymax
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,13.590476,13.590476,13.590476,13.590476,13.590476,13.590476,13.590476
std,8.507570,8.507570,8.507570,8.507570,8.507570,8.507570,8.507570
min,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
25%,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
50%,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
75%,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
max,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000